*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #565887;
    text-align: center;
}
.container
{
   height: 70vh;
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0, 3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

.game{
    height: 70vmin;
    width: 70vmin;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
#reset,.new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:#ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height:10vmin;
}

 .hide{
    display:none;
 }


 #mode {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;   
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    margin-bottom: 1rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#mode:hover {
    background-color: #2a2a24;
}

#mode option {
    background-color: #191913; 
    color: #ffffff;
    padding: 10px;
}



/* For screens smaller than 768px (mobile) */
@media only screen and (max-width: 768px) {
  #name {
    margin-top: 50px; /* push heading lower on mobile */
  }
}



